# Compiled class files
*.class

# Logs
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# IDEs
# Eclipse
.project
.classpath
.settings/
bin/
target/

# IntelliJ IDEA
.idea/
*.iml
out/

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nblibraries.properties

# VSCode
.vscode/

# Sistema operacional
.DS_Store
Thumbs.db
/Java - iniciante/operadoresAritmeticosTela/nbproject/private/
/Java - iniciante/funcaoMathEMenu/nbproject/private/
/Java - iniciante/funcao_Math_E_Menu/nbproject/private/
/Java - iniciante/operadorTernario/nbproject/private/
/Java - iniciante/operadoresRelacionaisLogicos/nbproject/private/
/Java - iniciante/LeitorDePensamento/nbproject/private/
